@import 'reset';

$font-stack:    Helvetica, Verdana, sans-serif;
$primary-color: #333;

body {
  font-family: $font-stack;
}

h1 {
  font-size: 2em;
  color: $primary-color;
}

table {
  margin: 1em 0;
}

td {
  padding: 5px;
}

@import 'list-page';
@import 'book-form';
