<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Form</title>
    <link rel="Stylesheet" href="style.css" />
  </head>
  <body class="book-form">
    <h1>Book Form</h1>

    <form method="POST" action="/book/add">
      <input placeholder="title" name="title" />
      <input placeholder="authors" name="authors" />
      <button type="submit">save</button>
    </form>
  </body>
</html>
